<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/item.css">
</head>
<body>
	<div class="w-main">
		<div class="w-wrap">
			<aside class="w-aslide clearfix row">
				<div class="w-asleft col-md-8">
					<div class="swiper-container w-slmain">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<a target="_blank" href="" title="">
									<img alt="Xiaomi - IPB - Normal Sale - Redmi Note 7 - 2019 Jun - H1" title="Xiaomi Redmi Note 7" src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/5/31/636949425393915404_F-H1_800x300@2x.png">
								</a>
							</div>
							<div class="swiper-slide">
								<a target="_blank" href="" title="">
									<img alt="Samsung - IPB - Normal Sale - Samsung tháng 6 - 2019 Jun - H1" title="Samsung tặng tới 150 kWh điện" src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/4/636952432797684443_Banner-SamsungT6-H1-2x.png">
								</a>
							</div>
							<div class="swiper-slide">
								<a target="_blank" href="" title="">
									<img alt="Realme - IPB - Hotsale - Cate Realme - 2019 Jun- H1" title="Cuối tuần realme giảm sốc" src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/21/636967303522655201_H1-Realme-Hot-Sale.png">
								</a>
							</div>
							<div class="swiper-slide">
								<a target="_blank" href="" title="">
									<img src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/13/636960457991367957_Banner-H1 s10@2x-4.png" alt="Samsung - IPB - Hot Sale - Samsung cuoi tuan - 2019 Jun - H1" title="Samsung giá cuối tuần">
								</a>
							</div>
							<div class="swiper-slide">
								<a target="_blank" href="" title="">
									<img alt="Samsung - IPB - Normal Sale - Samsung tháng 6 - 2019 Jun - H1" title="Samsung tặng tới 150 kWh điện" src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/4/636952432797684443_Banner-SamsungT6-H1-2x.png">
								</a>
							</div>
							<div class="swiper-slide">
								<a target="_blank" href="" title="">
									<img alt="OPPO - IPB - Normal Sale - OPPO F11 trang suong mai - 2019 Jun - H1" title="OPPO F11 màu mới" src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/15/636962119681894593_OPPO-Trang-Suong-Mai-H1.png"">
								</a>
							</div>
							<div class="swiper-slide">
								<a target="_blank" href="" title="">
									<img alt="Realme - IPB - Hotsale - Cate Realme - 2019 Jun- H1" title="Cuối tuần realme giảm sốc" src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/21/636967303522655201_H1-Realme-Hot-Sale.png">
								</a>
							</div>
							<div class="swiper-slide">
								<a target="_blank" href="" title="">
									<img src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/13/636960457991367957_Banner-H1 s10@2x-4.png" alt="Samsung - IPB - Hot Sale - Samsung cuoi tuan - 2019 Jun - H1" title="Samsung giá cuối tuần">
								</a>
							</div>
							<div class="swiper-slide">
								<a target="_blank" href="" title="">
									<img alt="Samsung - IPB - Normal Sale - Samsung tháng 6 - 2019 Jun - H1" title="Samsung tặng tới 150 kWh điện" src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/4/636952432797684443_Banner-SamsungT6-H1-2x.png">
								</a>
							</div>
							<div class="swiper-slide">
								<a target="_blank" href="" title="">
									<img alt="OPPO - IPB - Normal Sale - OPPO F11 trang suong mai - 2019 Jun - H1" title="OPPO F11 màu mới" src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/15/636962119681894593_OPPO-Trang-Suong-Mai-H1.png"">
								</a>
							</div>
						</div>
						<div class="swiper-pagination slmain-pgnt"></div>
						<div class="swiper-button-next swiper-button-white w-slide-next"></div>
						<div class="swiper-button-prev swiper-button-white w-slide-prev"></div>
					</div>
					<div class="swiper-container w-sltit">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><h3><span>OPPO F11 màu mới</span></h3></div>
							<div class="swiper-slide"><h3><span>OPPO F11 màu mới</span></h3></div>
							<div class="swiper-slide"><h3><span>OPPO F11 màu mới</span></h3></div>
							<div class="swiper-slide"><h3><span>OPPO F11 màu mới</span></h3></div>
							<div class="swiper-slide"><h3><span>OPPO F11 màu mới</span></h3></div>
							<div class="swiper-slide"><h3><span>OPPO F11 màu mới giá rẻ pin trâu</span></h3></div>
							<div class="swiper-slide"><h3><span>OPPO F11 màu mới</span></h3></div>
							<div class="swiper-slide"><h3><span>OPPO F11 màu mới</span></h3></div>
							<div class="swiper-slide"><h3><span>OPPO F11 màu mới</span></h3></div>
							<div class="swiper-slide"><h3><span>OPPO F11 màu mới giá rẻ pin trâu</span></h3></div>
						</div>
					</div>
				</div>
				<div class="w-asright col-md-4">
					<ul class="w-asads">
						<li>
							<a target="_blank" href=" title="Giảm nhiệt mùa thi H2">
								<img class="" style="height:88px" src="https://images.fpt.shop/unsafe/fit-in/385x88/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/1/636950084280245484_H2 (1).png" alt="Giảm nhiệt mùa thi H2">
							</a>
						</li>
						<li>
							<a target="_blank" href="" title="Laptop 10 ngày vàng H2">
								<img class="" style="height:88px" src="https://images.fpt.shop/unsafe/fit-in/385x88/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/20/636966468237415745_Banner-FlashSale-H2.png" alt="Laptop 10 ngày vàng H2">
							</a>
						</li>
					</ul>
					<div class="w-asnews">
						<div class="w-asntit">
							<h3>TIN CÔNG NGHỆ NỔI BẬT</h3> <a href="" target="_blank" title="">Xem tất cả</a>
						</div>
						<ul>
							<li>
								<a class="clearfix" href="/tin-tuc/danh-gia/5-dieu-ve-samsung-galaxy-note-10-ma-ai-cung-muon-biet-89194" title="5 điều về Samsung Galaxy Note 10 mà ai cũng muốn biết">
									<span>
										<img class="lazy" src="https://images.fpt.shop/unsafe/fit-in/78x44/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/20/636966471250735546_galaxy-note-10-fptshop.jpg" alt="5 điều về Samsung Galaxy Note 10 mà ai cũng muốn biết">
									</span>
									<h3>5 điều về Samsung Galaxy Note 10 mà ai cũng muốn biết</h3>
								</a>
							</li>
							<li>
								<a class="clearfix" href="/tin-tuc/danh-gia/4-dieu-tuyet-voi-ma-doi-thu-phai-ghen-ti-voi-realme-3-pro-88980" title="4 điều tuyệt vời mà đối thủ phải ghen tị với Realme 3 Pro">
									<span>
										<img class="lazy" src="https://images.fpt.shop/unsafe/fit-in/78x44/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/17/636963609731719115_realme-3-pro.jpg" alt="4 điều tuyệt vời mà đối thủ phải ghen tị với Realme 3 Pro">
									</span>
									<h3>4 điều tuyệt vời mà đối thủ phải ghen tị với Realme 3 Pro</h3>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</aside>
			<section class="swiper-container w-banner">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="https://dienmay.fptshop.com.vn/may-lanh" target="_blank"><img src="https://images.fpt.shop/unsafe/fit-in/1200x80/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/11/636958457452037243_F-H5_1200x80@2x.png"></a>
					</div>
					<div class="swiper-slide">
						<a href="https://hangmy.fptshop.com.vn" target="_blank"><img src="https://images.fpt.shop/unsafe/fit-in/1200x80/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/10/636957739058370000_F-H5_1200x80@2x.png"></a>
					</div>
					<div class="swiper-slide">
						<a href="https://dienmay.fptshop.com.vn/may-lanh" target="_blank"><img src="https://images.fpt.shop/unsafe/fit-in/1200x80/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/11/636958457452037243_F-H5_1200x80@2x.png"></a>
					</div>
					<div class="swiper-slide">
						<a href="https://hangmy.fptshop.com.vn" target="_blank"><img src="https://images.fpt.shop/unsafe/fit-in/1200x80/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/10/636957739058370000_F-H5_1200x80@2x.png"></a>
					</div>
					<div class="swiper-slide">
						<a href="https://dienmay.fptshop.com.vn/may-lanh" target="_blank"><img src="https://images.fpt.shop/unsafe/fit-in/1200x80/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/6/11/636958457452037243_F-H5_1200x80@2x.png"></a>
					</div>
				</div>
				<div class="swiper-pagination banner-pgnt"></div>
			</section>
			<div class="section-pros">
				<div class="list-pros">
					<h3 class="tit-pros">
						<a href="#" class="tit-pro">ĐIỆN THOẠI KHUYẾN MẠI HOT</a>
						<a href="/dien-thoai" title="Điện thoại" style="
						float: right;color: #2965a8;">Xem tất cả</a>
					</h3>
					<div class="list-pro swiper-container">
						<div class="list-pro-wrap clearfix swiper-wrapper">
							<div class="swiper-slide pro-item">
								<a href="#" title="iPhone Xs Max 64GB">
									<p class="w-itimg">
										<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/4/1/636897089206763744_iPhone-XS-max-dd.png" alt="iPhone Xs Max 64GB">
									</p>
									<h3 class="w-itname">iPhone Xs Max 64GB</h3>
									<p class="w-itpri">
										29.990.000<span>đ</span>
										<del class="w-itopri">33.990.000<span>đ</span></del>
									</p>

									<div class="w-itevlt">
										<ul class="evlt-pro">
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt05"></span></li>
											<li><span class="evlt00"></span></li>
										</ul>
										<p>(129 đánh giá)</p>
									</div>
									<label class="w-itprmt">Trả góp 0%</label>
								</a>	
							</div>
							<div class="swiper-slide pro-item">
								<a href="#" title="iPhone Xs Max 64GB">
									<p class="w-itimg">
										<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/4/1/636897089206763744_iPhone-XS-max-dd.png" alt="iPhone Xs Max 64GB">
									</p>
									<h3 class="w-itname">iPhone Xs Max 64GB</h3>
									<p class="w-itpri">
										29.990.000<span>đ</span>
										<del class="w-itopri">33.990.000<span>đ</span></del>
									</p>

									<div class="w-itevlt">
										<ul class="evlt-pro">
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt05"></span></li>
											<li><span class="evlt00"></span></li>
										</ul>
										<p>(129 đánh giá)</p>
									</div>
									<label class="w-itprmt">Trả góp 0%</label>
								</a>	
							</div>
							<div class="swiper-slide pro-item">
								<a href="#" title="iPhone Xs Max 64GB">
									<p class="w-itimg">
										<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/4/1/636897089206763744_iPhone-XS-max-dd.png" alt="iPhone Xs Max 64GB">
									</p>
									<h3 class="w-itname">iPhone Xs Max 64GB</h3>
									<p class="w-itpri">
										29.990.000<span>đ</span>
										<del class="w-itopri">33.990.000<span>đ</span></del>
									</p>

									<div class="w-itevlt">
										<ul class="evlt-pro">
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt05"></span></li>
											<li><span class="evlt00"></span></li>
										</ul>
										<p>(129 đánh giá)</p>
									</div>
									<label class="w-itprmt">Trả góp 0%</label>
								</a>	
							</div>
							<div class="swiper-slide pro-item">
								<a href="#" title="iPhone Xs Max 64GB">
									<p class="w-itimg">
										<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/4/1/636897089206763744_iPhone-XS-max-dd.png" alt="iPhone Xs Max 64GB">
									</p>
									<h3 class="w-itname">iPhone Xs Max 64GB</h3>
									<p class="w-itpri">
										29.990.000<span>đ</span>
										<del class="w-itopri">33.990.000<span>đ</span></del>
									</p>

									<div class="w-itevlt">
										<ul class="evlt-pro">
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt05"></span></li>
											<li><span class="evlt00"></span></li>
										</ul>
										<p>(129 đánh giá)</p>
									</div>
									<label class="w-itprmt">Trả góp 0%</label>
								</a>	
							</div>
							<div class="swiper-slide pro-item">
								<a href="#" title="iPhone Xs Max 64GB">
									<p class="w-itimg">
										<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/4/1/636897089206763744_iPhone-XS-max-dd.png" alt="iPhone Xs Max 64GB">
									</p>
									<h3 class="w-itname">iPhone Xs Max 64GB</h3>
									<p class="w-itpri">
										29.990.000<span>đ</span>
										<del class="w-itopri">33.990.000<span>đ</span></del>
									</p>

									<div class="w-itevlt">
										<ul class="evlt-pro">
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt05"></span></li>
											<li><span class="evlt00"></span></li>
										</ul>
										<p>(129 đánh giá)</p>
									</div>
									<label class="w-itprmt">Trả góp 0%</label>
								</a>	
							</div>
							<div class="swiper-slide pro-item">
								<a href="#" title="iPhone Xs Max 64GB">
									<p class="w-itimg">
										<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/4/1/636897089206763744_iPhone-XS-max-dd.png" alt="iPhone Xs Max 64GB">
									</p>
									<h3 class="w-itname">iPhone Xs Max 64GB</h3>
									<p class="w-itpri">
										29.990.000<span>đ</span>
										<del class="w-itopri">33.990.000<span>đ</span></del>
									</p>

									<div class="w-itevlt">
										<ul class="evlt-pro">
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt05"></span></li>
											<li><span class="evlt00"></span></li>
										</ul>
										<p>(129 đánh giá)</p>
									</div>
									<label class="w-itprmt">Trả góp 0%</label>
								</a>	
							</div>
							<div class="swiper-slide pro-item">
								<a href="#" title="iPhone Xs Max 64GB">
									<p class="w-itimg">
										<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/4/1/636897089206763744_iPhone-XS-max-dd.png" alt="iPhone Xs Max 64GB">
									</p>
									<h3 class="w-itname">iPhone Xs Max 64GB</h3>
									<p class="w-itpri">
										29.990.000<span>đ</span>
										<del class="w-itopri">33.990.000<span>đ</span></del>
									</p>

									<div class="w-itevlt">
										<ul class="evlt-pro">
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt05"></span></li>
											<li><span class="evlt00"></span></li>
										</ul>
										<p>(129 đánh giá)</p>
									</div>
									<label class="w-itprmt">Trả góp 0%</label>
								</a>	
							</div>
							<div class="swiper-slide pro-item">
								<a href="#" title="iPhone Xs Max 64GB">
									<p class="w-itimg">
										<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/4/1/636897089206763744_iPhone-XS-max-dd.png"alt="iPhone Xs Max 64GB">
									</p>
									<h3 class="w-itname">iPhone Xs Max 64GB</h3>
									<p class="w-itpri">
										29.990.000<span>đ</span>
										<del class="w-itopri">33.990.000<span>đ</span></del>
									</p>

									<div class="w-itevlt">
										<ul class="evlt-pro">
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt05"></span></li>
											<li><span class="evlt00"></span></li>
										</ul>
										<p>(129 đánh giá)</p>
									</div>
									<label class="w-itprmt">Trả góp 0%</label>
								</a>	
							</div>
							<div class="swiper-slide pro-item">
								<a href="#" title="iPhone Xs Max 64GB">
									<p class="w-itimg">
										<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2019/4/1/636897089206763744_iPhone-XS-max-dd.png" alt="iPhone Xs Max 64GB">
									</p>
									<h3 class="w-itname">iPhone Xs Max 64GB</h3>
									<p class="w-itpri">
										29.990.000<span>đ</span>
										<del class="w-itopri">33.990.000<span>đ</span></del>
									</p>

									<div class="w-itevlt">
										<ul class="evlt-pro">
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt10"></span></li>
											<li><span class="evlt05"></span></li>
											<li><span class="evlt00"></span></li>
										</ul>
										<p>(129 đánh giá)</p>
									</div>
									<label class="w-itprmt">Trả góp 0%</label>
								</a>	
							</div>
						</div>
						<div class="pro-next"></div>
						<div class="pro-prev"></div>
					</div>
				</div>
				<div class="list-pros">
					<h3 class="tit-pros">
						<a href="#" class="tit-pro">Laptop bán chạy</a>
						<a href="/dien-thoai" title="Điện thoại" style="
						float: right;color: #2965a8;">Xem tất cả</a>
					</h3>
					<div class="list-pro pro-collage">
						<div class="list-pro-wrap row">
							<div class="pro-item col-md-4">
								<a href="" title="">
									<h3 class="pro-item-name">Asus VIVOBOOK X507UA-EJ234T/Core i3-7020U</h3>
									<p class="w-itpri">10.590.000 <span>đ</span></p>
									<div class="pro-info">
										<div class="pro-ts">
											<div class="w-itevlt">
												<ul class="evlt-pro">
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt05"></span></li>
													<li><span class="evlt00"></span></li>
												</ul>
												<p class="ivlt-num"> (103 đánh giá)</p>
											</div>
											<ul><li><label>Màn hình :</label>15.6 inchs FHD</li><li><label>CPU :</label>Intel Core i3 7020U</li><li><label>RAM :</label>4 GB DDR4 2400 MHz</li><li><label>VGA :</label>Intel® HD graphics 2 GB</li><li><label>HĐH :</label>Windows 10 Home</li><li><label>Nặng:</label>1.68 Kg</li></ul>
										</div>
										<p class="pro-img">
											<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2018/3/28/636578276358777570_Asus-X507UA-BR167T.png" alt="Asus VIVOBOOK X507UA-EJ234T/Core i3-7020U">
										</p>
									</div>
								</a>
							</div>
							<div class="pro-item col-md-4">
								<a href="" title="">
									<h3 class="pro-item-name">Asus VIVOBOOK X507UA-EJ234T/Core i3-7020U</h3>
									<p class="w-itpri">10.590.000 <span>đ</span></p>
									<div class="pro-info">
										<div class="pro-ts">
											<div class="w-itevlt">
												<ul class="evlt-pro">
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt05"></span></li>
													<li><span class="evlt00"></span></li>
												</ul>
												<p class="ivlt-num"> (103 đánh giá)</p>
											</div>
											<ul><li><label>Màn hình :</label>15.6 inchs FHD</li><li><label>CPU :</label>Intel Core i3 7020U</li><li><label>RAM :</label>4 GB DDR4 2400 MHz</li><li><label>VGA :</label>Intel® HD graphics 2 GB</li><li><label>HĐH :</label>Windows 10 Home</li><li><label>Nặng:</label>1.68 Kg</li></ul>
										</div>
										<p class="pro-img">
											<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2018/3/28/636578276358777570_Asus-X507UA-BR167T.png" alt="Asus VIVOBOOK X507UA-EJ234T/Core i3-7020U">
										</p>
									</div>
								</a>
							</div>
							<div class="pro-item col-md-4">
								<a href="" title="">
									<h3 class="pro-item-name">Asus VIVOBOOK X507UA-EJ234T/Core i3-7020U</h3>
									<p class="w-itpri">10.590.000 <span>đ</span></p>
									<div class="pro-info">
										<div class="pro-ts">
											<div class="w-itevlt">
												<ul class="evlt-pro">
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt05"></span></li>
													<li><span class="evlt00"></span></li>
												</ul>
												<p class="ivlt-num"> (103 đánh giá)</p>
											</div>
											<ul><li><label>Màn hình :</label>15.6 inchs FHD</li><li><label>CPU :</label>Intel Core i3 7020U</li><li><label>RAM :</label>4 GB DDR4 2400 MHz</li><li><label>VGA :</label>Intel® HD graphics 2 GB</li><li><label>HĐH :</label>Windows 10 Home</li><li><label>Nặng:</label>1.68 Kg</li></ul>
										</div>
										<p class="pro-img">
											<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2018/3/28/636578276358777570_Asus-X507UA-BR167T.png" alt="Asus VIVOBOOK X507UA-EJ234T/Core i3-7020U">
										</p>
									</div>
								</a>
							</div>
							<div class="pro-item col-md-4">
								<a href="" title="">
									<h3 class="pro-item-name">Asus VIVOBOOK X507UA-EJ234T/Core i3-7020U</h3>
									<p class="w-itpri">10.590.000 <span>đ</span></p>
									<div class="pro-info">
										<div class="pro-ts">
											<div class="w-itevlt">
												<ul class="evlt-pro">
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt05"></span></li>
													<li><span class="evlt00"></span></li>
												</ul>
												<p class="ivlt-num"> (103 đánh giá)</p>
											</div>
											<ul><li><label>Màn hình :</label>15.6 inchs FHD</li><li><label>CPU :</label>Intel Core i3 7020U</li><li><label>RAM :</label>4 GB DDR4 2400 MHz</li><li><label>VGA :</label>Intel® HD graphics 2 GB</li><li><label>HĐH :</label>Windows 10 Home</li><li><label>Nặng:</label>1.68 Kg</li></ul>
										</div>
										<p class="pro-img">
											<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2018/3/28/636578276358777570_Asus-X507UA-BR167T.png" alt="Asus VIVOBOOK X507UA-EJ234T/Core i3-7020U">
										</p>
									</div>
								</a>
							</div>
							<div class="pro-item col-md-4">
								<a href="" title="">
									<h3 class="pro-item-name">Asus VIVOBOOK X507UA-EJ234T/Core i3-7020U</h3>
									<p class="w-itpri">10.590.000 <span>đ</span></p>
									<div class="pro-info">
										<div class="pro-ts">
											<div class="w-itevlt">
												<ul class="evlt-pro">
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt05"></span></li>
													<li><span class="evlt00"></span></li>
												</ul>
												<p class="ivlt-num"> (103 đánh giá)</p>
											</div>
											<ul><li><label>Màn hình :</label>15.6 inchs FHD</li><li><label>CPU :</label>Intel Core i3 7020U</li><li><label>RAM :</label>4 GB DDR4 2400 MHz</li><li><label>VGA :</label>Intel® HD graphics 2 GB</li><li><label>HĐH :</label>Windows 10 Home</li><li><label>Nặng:</label>1.68 Kg</li></ul>
										</div>
										<p class="pro-img">
											<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2018/3/28/636578276358777570_Asus-X507UA-BR167T.png" alt="Asus VIVOBOOK X507UA-EJ234T/Core i3-7020U">
										</p>
									</div>
								</a>
							</div>
							<div class="pro-item col-md-4">
								<a href="" title="">
									<h3 class="pro-item-name">Asus VIVOBOOK X507UA-EJ234T/Core i3-7020U</h3>
									<p class="w-itpri">10.590.000 <span>đ</span></p>
									<div class="pro-info">
										<div class="pro-ts">
											<div class="w-itevlt">
												<ul class="evlt-pro">
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt05"></span></li>
													<li><span class="evlt00"></span></li>
												</ul>
												<p class="ivlt-num"> (103 đánh giá)</p>
											</div>
											<ul><li><label>Màn hình :</label>15.6 inchs FHD</li><li><label>CPU :</label>Intel Core i3 7020U</li><li><label>RAM :</label>4 GB DDR4 2400 MHz</li><li><label>VGA :</label>Intel® HD graphics 2 GB</li><li><label>HĐH :</label>Windows 10 Home</li><li><label>Nặng:</label>1.68 Kg</li></ul>
										</div>
										<p class="pro-img">
											<img src="https://images.fpt.shop/unsafe/fit-in/192x192/filters:quality(90):fill(white)/cdn.fptshop.com.vn/Uploads/Originals/2018/3/28/636578276358777570_Asus-X507UA-BR167T.png" alt="Asus VIVOBOOK X507UA-EJ234T/Core i3-7020U">
										</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<p class="btn-view-more" id="view-more1"><a href="javascript:void(0)"title="">xem thêm <i class="iarrow"></i></a></p>
					<p class="btn-view-more" id="view-all1" style="display: none;"><a href="javascript:void(0)" title="">xem tất cả <i class="iarrow"></i></a></p>
				</div>
				<div class="list-pros">
					<h3 class="tit-pros">
						<a href="#" class="tit-pro">Tablet bán chạy</a>
						<a href="/dien-thoai" title="Điện thoại" style="
						float: right;color: #2965a8;">Xem tất cả</a>
					</h3>
					<div class="list-pro pro-collage">
						<div class="list-pro-wrap row">
							<div class="pro-item col-md-4">
								<a href="" title="">
									<h3 class="pro-item-name">Apple iPad Pro 11-inch Wi-Fi 64GB</h3>
									<p class="w-itpri">20.590.000 <span>đ</span></p>
									<div class="pro-info">
										<div class="pro-ts">
											<div class="w-itevlt">
												<ul class="evlt-pro">
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt05"></span></li>
													<li><span class="evlt00"></span></li>
												</ul>
												<p class="ivlt-num"> (103 đánh giá)</p>
											</div>
											<ul><li><label>Màn hình :</label>11 inchs 2K</li><li><label>CPU :</label>Apple A12X Bionic</li><li><label>RAM :</label>4 GB Ram</li><li><label>VGA :</label>Apple GPU (7-core graphics)</li><li><label>HĐH :</label>iOS 12</li><li><label>Nặng:</label>468g</li></ul>
										</div>
										<p class="pro-img">
											<img src="https://cdn.nhanh.vn/cdn/store/6439/ps/20181031/ipad_500x500.jpg" alt="Apple iPad Pro 11-inch Wi-Fi 64GB">
										</p>
									</div>
								</a>
							</div>
							<div class="pro-item col-md-4">
								<a href="" title="">
									<h3 class="pro-item-name">Apple iPad Pro 11-inch Wi-Fi 64GB</h3>
									<p class="w-itpri">20.590.000 <span>đ</span></p>
									<div class="pro-info">
										<div class="pro-ts">
											<div class="w-itevlt">
												<ul class="evlt-pro">
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt05"></span></li>
													<li><span class="evlt00"></span></li>
												</ul>
												<p class="ivlt-num"> (103 đánh giá)</p>
											</div>
											<ul><li><label>Màn hình :</label>11 inchs 2K</li><li><label>CPU :</label>Apple A12X Bionic</li><li><label>RAM :</label>4 GB Ram</li><li><label>VGA :</label>Apple GPU (7-core graphics)</li><li><label>HĐH :</label>iOS 12</li><li><label>Nặng:</label>468g</li></ul>
										</div>
										<p class="pro-img">
											<img src="https://cdn.nhanh.vn/cdn/store/6439/ps/20181031/ipad_500x500.jpg" alt="Apple iPad Pro 11-inch Wi-Fi 64GB">
										</p>
									</div>
								</a>
							</div>
							<div class="pro-item col-md-4">
								<a href="" title="">
									<h3 class="pro-item-name">Apple iPad Pro 11-inch Wi-Fi 64GB</h3>
									<p class="w-itpri">20.590.000 <span>đ</span></p>
									<div class="pro-info">
										<div class="pro-ts">
											<div class="w-itevlt">
												<ul class="evlt-pro">
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt05"></span></li>
													<li><span class="evlt00"></span></li>
												</ul>
												<p class="ivlt-num"> (103 đánh giá)</p>
											</div>
											<ul><li><label>Màn hình :</label>11 inchs 2K</li><li><label>CPU :</label>Apple A12X Bionic</li><li><label>RAM :</label>4 GB Ram</li><li><label>VGA :</label>Apple GPU (7-core graphics)</li><li><label>HĐH :</label>iOS 12</li><li><label>Nặng:</label>468g</li></ul>
										</div>
										<p class="pro-img">
											<img src="https://cdn.nhanh.vn/cdn/store/6439/ps/20181031/ipad_500x500.jpg" alt="Apple iPad Pro 11-inch Wi-Fi 64GB">
										</p>
									</div>
								</a>
							</div>
							<div class="pro-item col-md-4">
								<a href="" title="">
									<h3 class="pro-item-name">Apple iPad Pro 11-inch Wi-Fi 64GB</h3>
									<p class="w-itpri">20.590.000 <span>đ</span></p>
									<div class="pro-info">
										<div class="pro-ts">
											<div class="w-itevlt">
												<ul class="evlt-pro">
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt05"></span></li>
													<li><span class="evlt00"></span></li>
												</ul>
												<p class="ivlt-num"> (103 đánh giá)</p>
											</div>
											<ul><li><label>Màn hình :</label>11 inchs 2K</li><li><label>CPU :</label>Apple A12X Bionic</li><li><label>RAM :</label>4 GB Ram</li><li><label>VGA :</label>Apple GPU (7-core graphics)</li><li><label>HĐH :</label>iOS 12</li><li><label>Nặng:</label>468g</li></ul>
										</div>
										<p class="pro-img">
											<img src="https://cdn.nhanh.vn/cdn/store/6439/ps/20181031/ipad_500x500.jpg" alt="Apple iPad Pro 11-inch Wi-Fi 64GB">
										</p>
									</div>
								</a>
							</div>
							<div class="pro-item col-md-4">
								<a href="" title="">
									<h3 class="pro-item-name">Apple iPad Pro 11-inch Wi-Fi 64GB</h3>
									<p class="w-itpri">20.590.000 <span>đ</span></p>
									<div class="pro-info">
										<div class="pro-ts">
											<div class="w-itevlt">
												<ul class="evlt-pro">
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt05"></span></li>
													<li><span class="evlt00"></span></li>
												</ul>
												<p class="ivlt-num"> (103 đánh giá)</p>
											</div>
											<ul><li><label>Màn hình :</label>11 inchs 2K</li><li><label>CPU :</label>Apple A12X Bionic</li><li><label>RAM :</label>4 GB Ram</li><li><label>VGA :</label>Apple GPU (7-core graphics)</li><li><label>HĐH :</label>iOS 12</li><li><label>Nặng:</label>468g</li></ul>
										</div>
										<p class="pro-img">
											<img src="https://cdn.nhanh.vn/cdn/store/6439/ps/20181031/ipad_500x500.jpg" alt="Apple iPad Pro 11-inch Wi-Fi 64GB">
										</p>
									</div>
								</a>
							</div>
							<div class="pro-item col-md-4">
								<a href="" title="">
									<h3 class="pro-item-name">Apple iPad Pro 11-inch Wi-Fi 64GB</h3>
									<p class="w-itpri">20.590.000 <span>đ</span></p>
									<div class="pro-info">
										<div class="pro-ts">
											<div class="w-itevlt">
												<ul class="evlt-pro">
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt10"></span></li>
													<li><span class="evlt05"></span></li>
													<li><span class="evlt00"></span></li>
												</ul>
												<p class="ivlt-num"> (103 đánh giá)</p>
											</div>
											<ul><li><label>Màn hình :</label>11 inchs 2K</li><li><label>CPU :</label>Apple A12X Bionic</li><li><label>RAM :</label>4 GB Ram</li><li><label>VGA :</label>Apple GPU (7-core graphics)</li><li><label>HĐH :</label>iOS 12</li><li><label>Nặng:</label>468g</li></ul>
										</div>
										<p class="pro-img">
											<img src="https://cdn.nhanh.vn/cdn/store/6439/ps/20181031/ipad_500x500.jpg" alt="Apple iPad Pro 11-inch Wi-Fi 64GB">
										</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<p class="btn-view-more" id="view-more2"><a href="javascript:void(0)"title="">xem thêm <i class="iarrow"></i></a></p>
					<p class="btn-view-more" id="view-all2" style="display: none;"><a href="javascript:void(0)" title="">xem tất cả <i class="iarrow"></i></a></p>
				</div>
				<div class="list-pros">
					<h3 class="tit-pros">
						<a href="#" class="tit-pro">điện máy bán chạy</a>
						<a href="/dien-thoai" title="Điện thoại" style="
						float: right;color: #2965a8;">Xem tất cả</a>
					</h3>
					<div class="list-pro swiper-container">
						<div class="list-pro-wrap swiper-wrapper">
							<div class="pro-item swiper-slide">
								<a href="#" title="QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102">
									<div class="w-itimg">
										<img src="https://cdn.nguyenkimmall.com/images/detailed/500/3_mcnt-ut.png" alt="">
									</div>
									<div class="pro-tm">
										<h4>Boss</h4>
									</div>
									<h3 class="w-itname">QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102</h3>
									<p class="w-itpri">
										4.990.000<span>đ</span>
										<del class="w-itopri">5.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Trả góp 0%</label>
									<div class="prprmt">
										<div class="prsale">Trả góp chỉ <strong>711.667đ</strong>/tháng (6 tháng)</div>

										<div class="prbot">Tặng Nồi cơm điện Goldsun,Giảm 500K thẻ TPBank,Giảm ngay 10% thẻ tín dụng HD Bank,Giảm 150K qua Momo,Giảm 5% tối đa 1.000.000đ,</div>
									</div>								
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102">
									<div class="w-itimg">
										<img src="https://cdn.nguyenkimmall.com/images/detailed/500/3_mcnt-ut.png" alt="">
									</div>
									<div class="pro-tm">
										<h4>Boss</h4>
									</div>
									<h3 class="w-itname">QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102</h3>
									<p class="w-itpri">
										4.990.000<span>đ</span>
										<del class="w-itopri">5.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Trả góp 0%</label>
									<div class="prprmt">
										<div class="prsale">Trả góp chỉ <strong>711.667đ</strong>/tháng (6 tháng)</div>

										<div class="prbot">Tặng Nồi cơm điện Goldsun,Giảm 500K thẻ TPBank,Giảm ngay 10% thẻ tín dụng HD Bank,Giảm 150K qua Momo,Giảm 5% tối đa 1.000.000đ,</div>
									</div>								
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102">
									<div class="w-itimg">
										<img src="https://cdn.nguyenkimmall.com/images/detailed/500/3_mcnt-ut.png" alt="">
									</div>
									<div class="pro-tm">
										<h4>Boss</h4>
									</div>
									<h3 class="w-itname">QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102</h3>
									<p class="w-itpri">
										4.990.000<span>đ</span>
										<del class="w-itopri">5.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Trả góp 0%</label>
									<div class="prprmt">
										<div class="prsale">Trả góp chỉ <strong>711.667đ</strong>/tháng (6 tháng)</div>

										<div class="prbot">Tặng Nồi cơm điện Goldsun,Giảm 500K thẻ TPBank,Giảm ngay 10% thẻ tín dụng HD Bank,Giảm 150K qua Momo,Giảm 5% tối đa 1.000.000đ,</div>
									</div>								
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102">
									<div class="w-itimg">
										<img src="https://cdn.nguyenkimmall.com/images/detailed/500/3_mcnt-ut.png" alt="">
									</div>
									<div class="pro-tm">
										<h4>Boss</h4>
									</div>
									<h3 class="w-itname">QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102</h3>
									<p class="w-itpri">
										4.990.000<span>đ</span>
										<del class="w-itopri">5.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Trả góp 0%</label>
									<div class="prprmt">
										<div class="prsale">Trả góp chỉ <strong>711.667đ</strong>/tháng (6 tháng)</div>

										<div class="prbot">Tặng Nồi cơm điện Goldsun,Giảm 500K thẻ TPBank,Giảm ngay 10% thẻ tín dụng HD Bank,Giảm 150K qua Momo,Giảm 5% tối đa 1.000.000đ,</div>
									</div>								
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102">
									<div class="w-itimg">
										<img src="https://cdn.nguyenkimmall.com/images/detailed/500/3_mcnt-ut.png" alt="">
									</div>
									<div class="pro-tm">
										<h4>Boss</h4>
									</div>
									<h3 class="w-itname">QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102</h3>
									<p class="w-itpri">
										4.990.000<span>đ</span>
										<del class="w-itopri">5.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Trả góp 0%</label>
									<div class="prprmt">
										<div class="prsale">Trả góp chỉ <strong>711.667đ</strong>/tháng (6 tháng)</div>

										<div class="prbot">Tặng Nồi cơm điện Goldsun,Giảm 500K thẻ TPBank,Giảm ngay 10% thẻ tín dụng HD Bank,Giảm 150K qua Momo,Giảm 5% tối đa 1.000.000đ,</div>
									</div>								
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102">
									<div class="w-itimg">
										<img src="https://cdn.nguyenkimmall.com/images/detailed/500/3_mcnt-ut.png" alt="">
									</div>
									<div class="pro-tm">
										<h4>Boss</h4>
									</div>
									<h3 class="w-itname">QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102</h3>
									<p class="w-itpri">
										4.990.000<span>đ</span>
										<del class="w-itopri">5.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Trả góp 0%</label>
									<div class="prprmt">
										<div class="prsale">Trả góp chỉ <strong>711.667đ</strong>/tháng (6 tháng)</div>

										<div class="prbot">Tặng Nồi cơm điện Goldsun,Giảm 500K thẻ TPBank,Giảm ngay 10% thẻ tín dụng HD Bank,Giảm 150K qua Momo,Giảm 5% tối đa 1.000.000đ,</div>
									</div>								
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102">
									<div class="w-itimg">
										<img src="https://cdn.nguyenkimmall.com/images/detailed/500/3_mcnt-ut.png" alt="">
									</div>
									<div class="pro-tm">
										<h4>Boss</h4>
									</div>
									<h3 class="w-itname">QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102</h3>
									<p class="w-itpri">
										4.990.000<span>đ</span>
										<del class="w-itopri">5.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Trả góp 0%</label>
									<div class="prprmt">
										<div class="prsale">Trả góp chỉ <strong>711.667đ</strong>/tháng (6 tháng)</div>

										<div class="prbot">Tặng Nồi cơm điện Goldsun,Giảm 500K thẻ TPBank,Giảm ngay 10% thẻ tín dụng HD Bank,Giảm 150K qua Momo,Giảm 5% tối đa 1.000.000đ,</div>
									</div>								
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102">
									<div class="w-itimg">
										<img src="https://cdn.nguyenkimmall.com/images/detailed/500/3_mcnt-ut.png" alt="">
									</div>
									<div class="pro-tm">
										<h4>Boss</h4>
									</div>
									<h3 class="w-itname">QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102</h3>
									<p class="w-itpri">
										4.990.000<span>đ</span>
										<del class="w-itopri">5.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Trả góp 0%</label>
									<div class="prprmt">
										<div class="prsale">Trả góp chỉ <strong>711.667đ</strong>/tháng (6 tháng)</div>

										<div class="prbot">Tặng Nồi cơm điện Goldsun,Giảm 500K thẻ TPBank,Giảm ngay 10% thẻ tín dụng HD Bank,Giảm 150K qua Momo,Giảm 5% tối đa 1.000.000đ,</div>
									</div>								
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102">
									<div class="w-itimg">
										<img src="https://cdn.nguyenkimmall.com/images/detailed/500/3_mcnt-ut.png" alt="">
									</div>
									<div class="pro-tm">
										<h4>Boss</h4>
									</div>
									<h3 class="w-itname">QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102</h3>
									<p class="w-itpri">
										4.990.000<span>đ</span>
										<del class="w-itopri">5.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Trả góp 0%</label>
									<div class="prprmt">
										<div class="prsale">Trả góp chỉ <strong>711.667đ</strong>/tháng (6 tháng)</div>

										<div class="prbot">Tặng Nồi cơm điện Goldsun,Giảm 500K thẻ TPBank,Giảm ngay 10% thẻ tín dụng HD Bank,Giảm 150K qua Momo,Giảm 5% tối đa 1.000.000đ,</div>
									</div>								
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102">
									<div class="w-itimg">
										<img src="https://cdn.nguyenkimmall.com/images/detailed/500/3_mcnt-ut.png" alt="">
									</div>
									<div class="pro-tm">
										<h4>Boss</h4>
									</div>
									<h3 class="w-itname">QUẠT LÀM MÁT KHÔNG KHÍ BOSS S102</h3>
									<p class="w-itpri">
										4.990.000<span>đ</span>
										<del class="w-itopri">5.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Trả góp 0%</label>
									<div class="prprmt">
										<div class="prsale">Trả góp chỉ <strong>711.667đ</strong>/tháng (6 tháng)</div>

										<div class="prbot">Tặng Nồi cơm điện Goldsun,Giảm 500K thẻ TPBank,Giảm ngay 10% thẻ tín dụng HD Bank,Giảm 150K qua Momo,Giảm 5% tối đa 1.000.000đ,</div>
									</div>								
								</a>
							</div>
						</div>
						<div class="pro-next"></div>
						<div class="pro-prev"></div>
					</div>
				</div>
				<div class="list-pros">
					<h3 class="tit-pros">
						<a href="#" class="tit-pro">phụ kiện giá rẻ</a>
						<a href="/dien-thoai" title="Điện thoại" style="
						float: right;color: #2965a8;">Xem tất cả</a>
					</h3>
					<div class="list-pro swiper-container">
						<div class="list-pro-wrap swiper-wrapper">
							<div class="pro-item swiper-slide">
								<a href="#" title="Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng">
									<div class="w-itimg">
										<img src="https://cdn.tgdd.vn/Products/Images/54/200785/tai-nghe-bluetooth-airpods-2-apple-mv7n2-trang-avatar-1-400x400.jpg" alt="">
									</div>
									<h3 class="w-itname">Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng</h3>
									<p class="w-itpri">
										2.990.000<span>đ</span>
										<del class="w-itopri">3.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Giảm 1.000.000 đ</label>				
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng">
									<div class="w-itimg">
										<img src="https://cdn.tgdd.vn/Products/Images/54/200785/tai-nghe-bluetooth-airpods-2-apple-mv7n2-trang-avatar-1-400x400.jpg" alt="">
									</div>
									<h3 class="w-itname">Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng</h3>
									<p class="w-itpri">
										2.990.000<span>đ</span>
										<del class="w-itopri">3.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Giảm 1.000.000 đ</label>				
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng">
									<div class="w-itimg">
										<img src="https://cdn.tgdd.vn/Products/Images/54/200785/tai-nghe-bluetooth-airpods-2-apple-mv7n2-trang-avatar-1-400x400.jpg" alt="">
									</div>
									<h3 class="w-itname">Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng</h3>
									<p class="w-itpri">
										2.990.000<span>đ</span>
										<del class="w-itopri">3.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Giảm 1.000.000 đ</label>				
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng">
									<div class="w-itimg">
										<img src="https://cdn.tgdd.vn/Products/Images/54/200785/tai-nghe-bluetooth-airpods-2-apple-mv7n2-trang-avatar-1-400x400.jpg" alt="">
									</div>
									<h3 class="w-itname">Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng</h3>
									<p class="w-itpri">
										2.990.000<span>đ</span>
										<del class="w-itopri">3.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Giảm 1.000.000 đ</label>				
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng">
									<div class="w-itimg">
										<img src="https://cdn.tgdd.vn/Products/Images/54/200785/tai-nghe-bluetooth-airpods-2-apple-mv7n2-trang-avatar-1-400x400.jpg" alt="">
									</div>
									<h3 class="w-itname">Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng</h3>
									<p class="w-itpri">
										2.990.000<span>đ</span>
										<del class="w-itopri">3.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Giảm 1.000.000 đ</label>				
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng">
									<div class="w-itimg">
										<img src="https://cdn.tgdd.vn/Products/Images/54/200785/tai-nghe-bluetooth-airpods-2-apple-mv7n2-trang-avatar-1-400x400.jpg" alt="">
									</div>
									<h3 class="w-itname">Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng</h3>
									<p class="w-itpri">
										2.990.000<span>đ</span>
										<del class="w-itopri">3.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Giảm 1.000.000 đ</label>				
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng">
									<div class="w-itimg">
										<img src="https://cdn.tgdd.vn/Products/Images/54/200785/tai-nghe-bluetooth-airpods-2-apple-mv7n2-trang-avatar-1-400x400.jpg" alt="">
									</div>
									<h3 class="w-itname">Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng</h3>
									<p class="w-itpri">
										2.990.000<span>đ</span>
										<del class="w-itopri">3.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Giảm 1.000.000 đ</label>				
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng">
									<div class="w-itimg">
										<img src="https://cdn.tgdd.vn/Products/Images/54/200785/tai-nghe-bluetooth-airpods-2-apple-mv7n2-trang-avatar-1-400x400.jpg" alt="">
									</div>
									<h3 class="w-itname">Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng</h3>
									<p class="w-itpri">
										2.990.000<span>đ</span>
										<del class="w-itopri">3.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Giảm 1.000.000 đ</label>				
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng">
									<div class="w-itimg">
										<img src="https://cdn.tgdd.vn/Products/Images/54/200785/tai-nghe-bluetooth-airpods-2-apple-mv7n2-trang-avatar-1-400x400.jpg" alt="">
									</div>
									<h3 class="w-itname">Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng</h3>
									<p class="w-itpri">
										2.990.000<span>đ</span>
										<del class="w-itopri">3.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Giảm 1.000.000 đ</label>				
								</a>
							</div>
							<div class="pro-item swiper-slide">
								<a href="#" title="Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng">
									<div class="w-itimg">
										<img src="https://cdn.tgdd.vn/Products/Images/54/200785/tai-nghe-bluetooth-airpods-2-apple-mv7n2-trang-avatar-1-400x400.jpg" alt="">
									</div>
									<h3 class="w-itname">Tai nghe Bluetooth AirPods 2 Apple MV7N2 Trắng</h3>
									<p class="w-itpri">
										2.990.000<span>đ</span>
										<del class="w-itopri">3.990.000<span>đ</span></del>
									</p>
									<label class="w-itprmt">Giảm 1.000.000 đ</label>				
								</a>
							</div>
						</div>
						<div class="pro-next"></div>
						<div class="pro-prev"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="../js/swiper.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#view-more1').click(function(){
				$('.pro-collage:first').css('max-height','inherit');
				$(this).hide();
				$('#view-all1').show();
			});
			$('#view-more2').click(function(){
				$('.pro-collage:last').css('max-height','inherit');
				$(this).hide();
				$('#view-all2').show();
			});
			var galleryThumbs = new Swiper('.w-sltit', {
				slidesPerView: 6,
				loop: true,
				freeMode: true,
				autoplay: {
					delay: 6e3,
					disableOnInteraction: false,
				},
				watchSlidesVisibility: true,
				watchSlidesProgress: true,
			});
			var galleryTop = new Swiper('.w-slmain', {
				loop: true,
				autoplay: {
					delay: 6e3,
					disableOnInteraction: false,
				},
				thumbs: {
					swiper: galleryThumbs,
				},
				navigation: {
					nextEl: '.w-slide-next',
					prevEl: '.w-slide-prev',
				},
				pagination: {
					el: '.slmain-pgnt',
					clickable: true,
				},

			});
			var banner = new Swiper('.w-banner', {
				loop: true,
				autoplay: {
					delay: 4000,
					disableOnInteraction: false,
				},
				pagination: {
					el: '.banner-pgnt',
					clickable: true,
				},
			});
			var listPro = new Swiper('.list-pro', {
				slidesPerView: 5,
				breakpoints: {
					768: {
						slidesPerView: 3,
					},
					992: {
						slidesPerView: 4,
					}
				},
				navigation: {
					nextEl: '.pro-next',
					prevEl: '.pro-prev',
				},
			});
		});
	</script>
</body>
</html>